{% extends 'empty.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        <a ref="#">
            <img src="{{ asset('quiztheme/assets/img/logo.png') }}" alt>
        </a>
        <br/> <br/>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if error %}
        <div class="login_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <input type="text" value="{{ last_username }}" name="_username" id="username" placeholder="Enter username" class="form-control" autocomplete="username" required autofocus>
        <input type="password" name="_password" id="password" placeholder="Enter password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
