{% extends 'base.html.twig' %}

{% block title %}Quiz list{% endblock %}

{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Quiz list</h3>
</div>

<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des Quiz</h1>

    {% if quizzes is empty %}
        <p class="text-center">Aucun quiz n'a été trouvé.</p>
    {% else %}
        <div class="row">
            {% for quiz in quizzes %}
                {# Vérifie si l'état du quiz est égal à 5 avant de l'afficher #}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <a href="{{ path('app_show', {'quiz': quiz.id}) }}" class="card-title">{{ quiz.title }}</a>
                                <p class="card-text">
                                    État: {{ quiz.state.state }}<br>
                                    Nombre de questions: {{ quiz.questions|length }}
                                </p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}