{% extends 'base.html.twig' %}

{% block title %}New SessionState{% endblock %}

{% block body %}
    <h1>Create new SessionState</h1>

    {{ include('session_state/_form.html.twig') }}

    <a href="{{ path('app_session_state_index') }}">back to list</a>
{% endblock %}
