{% extends 'base.html.twig' %}

{% block title %}Quiz creation{% endblock %}

{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Quiz creation</h3>
    {% if is_granted('ROLE_USER') %}
        <p>Welcome to your quiz creation interface!</p>
    {% else %}
        <p>You must be logged in to access this page.</p>
        <a class="btn btn-light btn-light" href="{{path("app_login")}}">Login</a>
    {% endif %}
</div>

{% if is_granted('ROLE_USER') %}
    <div class="box">
        <twig:QuizForm :form="form_quiz" :quiz="quiz"/>
    </div>
{% endif %}

{% endblock %}
